* {
    margin: 0;
    padding: 0;
}

.carousel-item>img {
    width: 100vh;
    height: 650px;
    object-fit: cover;
    filter: brightness(50%);
}

.card-title img {
    width: 4rem;
    height: 4rem;
    display: inline;
}

.carousel-control-next-icon {
    padding: 2rem;
    display: block;
}

.carousel-control-prev-icon {
    padding: 2rem;
    display: block;
    margin-left: -0.8rem;
}

.carousel-control-next-icon {
    padding: 2rem;
    display: block;
    margin-right: -0.8rem;
}


.display {
    display: block;
}

.footer_height {
    height: 500px;
    width: 75%;
}

.hide {
    display: block;
}

/* .footer_link {
    position: relative;

}

/* .footer_link::after {
    display: block;
    position: absolute;
    content: "";
    height: 15px;
    width: 2px;
    background-color: gray;
    margin-left: 14rem;
    margin-top: -1.2rem;
} */
@media (max-width:576px) {
    .ready_txt {
        text-align: center;
        margin: 0 auto;
        width: 90%;

    }

    .carousel-item>img {
        width: 100vh;
        height: 350px;
        object-fit: cover;
        filter: brightness(50%);
    }

    .display {
        display: none;
    }

    .hide {
        display: none;
    }

}

.footer_link {
    text-decoration: none;

}



@media (min-width:577px) and (max-width:768px) {
    .ready_txt {
        text-align: center;
        margin: 0 auto;
        width: 90%;

    }

    .display {
        display: none;
    }

    .hide {
        display: none;
    }

}

@media (max-width:768px) {


    .display {}

    .hide {
        display: none;
    }
}